@model EasyWay.Models.Car
@{
    ViewBag.Title = "Cars Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Car</h2>

@using (Html.BeginForm("Save", "Cars"))
{
    @Html.ValidationSummary(true, "An error occurred, please fix the following errors")
    <div class="form-group">
        @Html.LabelFor(c => c.Brand)
        @Html.TextBoxFor(c => c.Brand, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Brand)
    </div>


    <div class="form-group">
        @Html.LabelFor(c => c.YearManufactured)
        @Html.TextBoxFor(c => c.YearManufactured, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.YearManufactured)
    </div>


    <div class="form-group">
        @Html.LabelFor(c => c.LicensePlate)
        @Html.TextBoxFor(c => c.LicensePlate, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.LicensePlate)
    </div>


    @Html.HiddenFor(d => d.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
    
}


@section scripts
{

    @Scripts.Render("~/bundles/jqueryval")
    
}
